#navbar{
    padding-top: 8px;
}
#logo{
    height: 25px;
}

    
 body{
      margin: 0;
      padding: 0;
    font-family: sans-serif;}
    /* to remove underline below link  */
a{
    text-decoration: none;
    /* now if we click on click we need to give hover and focus */

}
a:hover , a:focus{
    color: blueviolet;
}
#banner{
    width: 100%;
}
    #banner{
        /* we use this to make image strchable and fit */
    object-fit:cover ;
}
#about{
    /* to get divs aside */
    display:flex;
    max-width: 800px;
    margin: 0 auto;
}
#description{
    width: 50%;
}
#team{
    width: 50%;
}
#team-image{
    width: 100%;
}
.location{
    color: grey;
    margin-top: 1px;
}
h2{
    text-align: center;
}
.jobs{
    max-width: 800px;
     margin: auto;
}
h3{
    margin-bottom: 2px;
}
.apply{
    float: right;
}
/* for the table jobs we are going to edit  */
#jobs-table{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 100%;
}
/* mention th also  */
.jobs-header-row th{
    border: 1px solid grey;
    padding: 8px;
    background-color: aliceblue;
    text-align: center;

}
.jobs-data-row td{
    border-right:1px solid gray;
    padding: 8px;
    
}
/* to get alternative colr */
#jobs-table tr:nth-child(odd){
        background-color:azure;}

#application-form label{
    font-weight: 600;

}   
#application-form input{
    margin-top: 4px;
    padding: 8px;
    border: 1.5px solid gray;
    border-radius: 3.5px;
}   
.text{
    margin-bottom: 9px;
    margin-top: 2px;
} 
.text input[type="checkbox"]{
    width: 16px;
    height: 16px;
}

#agree:hovers{
    color: blue;
}


  

#footer{
    background-color: rgb(243, 237, 237);
    margin-top:50px;
    padding-top: 10px;
}
#footer-links{
    list-style: none;
    text-align: center;
}
/* to bring elemts beside in div if they are childern elements  */
#footer-links li{
 display: inline;
 margin-right: 10px;
}
#submit{
   margin-top: 40px;
   width: 120px;
   
}